---
import BaseLayout from './BaseLayout.astro'
---

<!-- NEEDS FIXING this is very basic -->
<BaseLayout>
  <main class="flex flex-col justify-center h-screen items-center">
    <div class="min-w-[320px] h-[30%] border border-black rounded-md">
      <slot />
    </div>
  </main>
</BaseLayout>
