---
import BaseLayout from '@/layouts/BaseLayout.astro'

import { postgres } from '@/lib/postgres/index'
import { blog_posts } from '@/lib/postgres/schema'
import { eq } from 'drizzle-orm'
import { CommentForm } from '@/pages/blog/_CommentForm'
import { ImageDropzone } from '@/pages/blog/_ImageDropzone'

const { title } = Astro.params
if (!title) {
  return new Response(null, { status: 404 })
}

let blogPost
try {
  const array = await postgres.select().from(blog_posts).where(eq(blog_posts.title, title)).limit(1)
  blogPost = array[0]
} catch (error) {
  console.error(error)
  return Astro.redirect('/500')
}
if (!blogPost) {
  return Astro.redirect('/404')
}
---

<BaseLayout>
  <ImageDropzone client:load />
  <div class="bg-white rounded-md">
    <h1 class="text-center text-2xl text-orange-500 mb-4">{blogPost.title}</h1>
  </div>
  <h2 class="text-lg max-w-">{blogPost.content_description}</h2>
  <CommentForm client:load title={blogPost.title} comments={blogPost.comments} />
</BaseLayout>
