<style>
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .header-slide-down {
    animation: slideDown 1s ease-out forwards;
  }

  .nav-link {
    display: inline-block;
    transition: transform 0.2s ease;
  }
  .nav-link:hover {
    transform: translateY(-4px);
  }
</style>

<header
  class="header-slide-down shadow-[0_10px_15px_rgba(0,0,0,0.3),0_4px_6px_rgba(0,0,0,0.2)] bg-blue-600 font-tagesschrift text-white mx-4 mt-4 flex justify-between p-4 rounded-md"
>
  <div></div>
  <nav>
    <ol>
      <li class="flex gap-4">
        <a href="/blog" class="nav-link">blog</a>
        <a href="/newsletter" class="nav-link">newsletter</a>
      </li>
    </ol>
  </nav>
</header>
